@charset "UTF-8";
*,
*:after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li {
  list-style: none;
  text-decoration: none;
  color: inherit; }

input,
button,
a {
  font: inherit;
  outline: none;
  border: none; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 17px;
  background-color: #fff; }

.container {
  max-width: 1480px;
  padding: 0 20px;
  margin: 0 auto; }

.button {
  padding: 7px 15px;
  border-radius: 8px;
  background-color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer; }

.btn-wrap {
  margin-top: 30px; }

.form {
  max-width: 850px;
  margin: 0 auto; }

.form__wrapper {
  margin-top: 30px;
  border: 1px solid #dddddd;
  border-radius: 32px;
  color: #222222;
  display: flex;
  flex: 1 1 0%;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.15), 0px 3px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff; }

.form__location {
  flex: 1.5 0 0%;
  position: relative; }
  .form__location:hover {
    background-color: #dddddd;
    border-radius: 32px; }
  .form__location::after {
    content: "";
    position: absolute;
    display: block;
    right: 0;
    top: 25%;
    width: 1px;
    height: 35px;
    background-color: #dddddd; }

.form__label {
  padding: 14px 32px; }
  .form__label-title {
    font-weight: 600;
    font-size: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.04em; }

.form__input {
  border: none;
  width: 100%;
  font-size: 14px;
  background-color: inherit; }

.form__time {
  display: flex;
  flex: 2 0 0%;
  position: relative; }
  .form__time::after {
    content: "";
    position: absolute;
    display: block;
    right: 0;
    top: 25%;
    width: 1px;
    height: 35px;
    background-color: #dddddd; }

.form__guests {
  position: relative; }
  .form__guests:hover {
    background-color: #dddddd;
    border-radius: 32px; }

.icon-wrap {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #FF385C;
  border-radius: 35px;
  top: 8px;
  right: 13px; }
  .icon-wrap:hover {
    background-color: #ca2745; }
  .icon-wrap::after {
    content: '';
    display: block;
    position: absolute;
    top: 19px;
    left: 19px;
    width: 14px;
    height: 14px;
    background-image: url("../../img/svg_img/header/header_loupe_big.svg"); }

.arrival-wrap {
  flex: 1 0 0%;
  padding: 14px 24px;
  position: relative; }
  .arrival-wrap:hover {
    background-color: #dddddd;
    border-radius: 32px; }
  .arrival-wrap::after {
    content: "";
    position: absolute;
    display: block;
    right: 0;
    top: 25%;
    width: 1px;
    height: 35px;
    background-color: #dddddd; }

.arrival-text {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.04em;
  padding-bottom: 2px;
  line-height: 16px; }

.arrival-text-shadow {
  font-size: 14px;
  line-height: 18px;
  color: #717171;
  margin-top: 4px; }

.departure-wrap {
  flex: 1 0 0%;
  padding: 14px 24px; }
  .departure-wrap:hover {
    background-color: #dddddd;
    border-radius: 32px; }

.depatrude-text {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.04em;
  padding-bottom: 2px;
  line-height: 16px; }

.depatrude-text-shadow {
  font-size: 14px;
  line-height: 18px;
  color: #717171;
  margin-top: 4px; }

.wrapper {
  overflow: hidden; }
  .wrapper::before {
    content: '';
    width: 100%;
    height: 100px;
    display: block;
    background-image: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0));
    opacity: 0.4;
    position: absolute; }

.header {
  min-height: 90vh;
  padding: 20px 0;
  background-image: url("/img/header/header-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .header__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center; }

.header__about {
  color: #ffffff; }
  .header__about-link {
    padding: 0 12px;
    position: relative; }
    .header__about-link:hover {
      opacity: 0.6; }
    .header__about-link:before {
      content: "";
      position: absolute;
      width: 18px;
      height: 2px;
      background-color: #fff;
      border-radius: 1px;
      bottom: -9px;
      left: 50%;
      margin-left: -9px; }

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .menu__links {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .menu__links-text {
      font-size: 16px;
      color: #ffffff;
      font-weight: 600;
      padding-right: 25px;
      cursor: pointer; }

.menu__links-btn {
  color: #fff;
  background: inherit;
  border: none;
  padding-top: 8px;
  cursor: pointer; }

.menu__burger {
  display: flex;
  align-items: center;
  padding: 5px 5px 5px 12px;
  background-color: #fff;
  border: 1px solid #dddddd;
  border-radius: 21px;
  margin-left: 25px;
  color: #717171;
  cursor: pointer; }
  .menu__burger-btn {
    margin-right: 10px; }

.header__title {
  max-width: 250px;
  padding-top: 146px;
  color: #ffffff; }
  .header__title .title {
    font-size: 55px; }

.city {
  display: flex;
  flex-direction: column;
  max-width: 1170px;
  margin: 0 auto;
  width: 100%; }
  .city__section {
    background-color: #fff;
    padding-top: 55px;
    padding-bottom: 50px; }
  .city__link {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    padding-bottom: 20px; }
    .city__link-line1 {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
    .city__link-line2 {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
    .city__link-card {
      max-width: 380px;
      height: 65px;
      border-radius: 20px;
      display: flex;
      flex-direction: row;
      margin: 10px;
      align-items: center;
      height: 65px; }
    .city__link-img {
      max-height: 100%;
      height: auto;
      margin: 0 auto;
      border-radius: 10px;
      align-content: center; }
    .city__link-title {
      margin-left: 10px; }
  .city__home {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%; }
    .city__home-card {
      max-width: 370px;
      max-height: 400px;
      display: flex;
      flex-direction: column;
      margin: 10px; }
    .city__home-mainbox {
      display: flex;
      justify-content: center;
      flex-direction: row; }
    .city__home-img {
      max-width: 100%;
      height: auto;
      margin: 0 auto;
      border-radius: 10px; }
    .city__home-title {
      margin-top: 10px;
      font-size: 32px;
      font-weight: 700;
      line-height: 36px;
      padding-bottom: 20px;
      margin-left: 15px; }
    .city__home-cardtitle {
      margin-top: 10px; }

.offer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  padding-bottom: 30px; }
  .offer__section {
    background-color: #000000;
    padding-top: 55px; }
  .offer__travel {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px; }
    .offer__travel-title {
      margin: 10px;
      color: #ffffff; }
    .offer__travel__title {
      font-size: 32px;
      font-weight: 700;
      line-height: 36px; }
    .offer__travel__title1 {
      margin: 15px 0;
      color: #ffffff; }
    .offer__travel__card-item {
      flex: 0 0 33.3333%;
      padding: 0 10px; }
    .offer__travel__card-img {
      width: 100%;
      height: auto;
      margin: 0 auto;
      border-radius: 10px; }
    .offer__travel__card-title {
      margin: 15px 0;
      color: #ffffff; }

.offers-section {
  background-color: #fff;
  padding-top: 55px;
  padding-bottom: 65px;
  overflow: hidden; }

.offers-main-box {
  display: flex;
  justify-content: space-between; }

.offers-img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 10px; }

.offers-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  padding-bottom: 28px; }

.center {
  padding: 0 10px; }

.offers-img-description {
  font-size: 17px;
  line-height: 22px;
  font-weight: 550;
  margin-top: 10px; }

.footer {
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  background-color: #f7f7f7;
  padding-top: 50px;
  padding-bottom: 22px;
  border-top: 1px solid rgba(192, 192, 192, 0.705); }

.top-footer-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(192, 192, 192, 0.705);
  padding-bottom: 45px; }

.footer-links {
  display: flex;
  flex-direction: column; }

.footer-link {
  padding-top: 12px;
  font-size: 15px;
  line-height: 18px; }

.footer-link:hover {
  text-decoration: underline; }

.bottom-footer-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px; }

.lang-valute-links {
  display: flex;
  justify-content: space-between; }

.footer-links-title {
  font-size: 12px; }

.lang-valute-links-box {
  display: flex;
  justify-content: space-between;
  padding-right: 45px; }

.sites-links {
  display: flex;
  justify-content: space-between; }

.sites-logos-link {
  padding-left: 25px; }

.lang-valute-link {
  padding-left: 20px; }

.lang-valute-logo {
  padding-right: 8px; }

.lang-valute-text-content {
  text-decoration: underline;
  font-size: 14px;
  font-weight: 550; }

.descrip-rights-links {
  display: flex;
  justify-content: flex-start; }

.point {
  position: relative; }
  .point::after {
    content: "·";
    top: 11px;
    left: 2px;
    display: block;
    position: absolute; }

.point {
  padding-left: 10px;
  padding-top: 12px;
  font-size: 15px;
  line-height: 18px; }

svg:hover {
  color: #222222d3; }

.lang-valute-link:hover {
  color: #222222d3; }

.point:hover {
  color: #222222d3; }

@media (max-width: 1127px) {
  .container {
    max-width: 1100px; } }

@media (max-width: 949px) {
  .form {
    margin-top: 130px; } }

@media (max-width: 949px) {
  .header {
    height: 100vh;
    position: relative; }
  .header__about {
    position: absolute;
    left: 221px;
    top: 105px; } }

@media (max-width: 743px) {
  .header {
    background-image: url("https://a0.muscache.com/im/pictures/c8dd7889-d579-49c7-9650-24ff71a82190.jpg?im_w=720");
    background-size: cover;
    max-height: 90vh; }
  .header__inner {
    display: none; }
  .form__wrapper {
    display: none; }
  .header__title {
    padding: 0; } }

@media (max-width: 743px) {
  .header__form {
    border-radius: 24px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.15), 0px 3px 8px rgba(0, 0, 0, 0.1); }
    .header__form::before {
      content: '';
      display: block;
      position: absolute;
      background-image: url("../../img/svg_img/header/search.svg");
      background-size: cover;
      left: 16px;
      top: 15px;
      width: 15px;
      height: 15px; }
  .form {
    margin: 0;
    border-radius: 24px; }
  .form__input {
    font-size: 16px;
    padding: 13px 45px;
    background-color: #fff; }
  .header__title {
    margin-top: 100px;
    margin-left: 30px; }
    .header__title .title {
      font-size: 35px;
      line-height: 35px; } }

@media (min-width: 744px) {
  .form__input.media {
    display: none; } }

@media (max-width: 743px) {
  .container {
    position: relative; }
  .header__form {
    position: fixed;
    z-index: 121312;
    top: 23px;
    left: 43px;
    width: 80%; } }

@media (max-width: 1127px) {
  .city__link-line1 {
    overflow: hidden; }
  .city__link-line2 {
    overflow: hidden; }
  .city__link-card {
    flex: 0 0 32.3%;
    overflow: hidden; }
  .city__link-img {
    margin: 10px; }
  .container {
    max-width: 1110px; }
  .city__link {
    padding-bottom: 20px; } }

@media (max-width: 949px) {
  .city__home-card {
    overflow: hidden; }
  .city__home-mainbox {
    overflow: hidden; }
  .city__home-card:last-child {
    display: none; }
  .container {
    max-width: 900px; }
  .city__home-title {
    padding-bottom: 10px;
    margin-left: 12px;
    font-size: 14px;
    line-height: 0; }
  .city__section {
    padding-bottom: 30px; }
  .offer__travel__title1 {
    margin: 5px 0; }
  .offer__travel__title {
    font-size: 19px; }
  .city__home-cardtitle {
    font-size: 14px; }
  .city__link-title {
    font-size: 14px; }
  .offer__travel__card-title {
    font-size: 14px; }
  .offer__section {
    padding-top: 20px; } }

@media (max-width: 743px) {
  .city__link-line1 {
    overflow: hidden; }
  .city__link-line2 {
    overflow: hidden; }
  .city__link-card {
    flex: 0 0 50%;
    overflow: hidden; }
  .offer__travel__title {
    font-size: 19px; }
  .offer__travel__title1 {
    font-size: 13px; }
  .offer__section {
    padding-top: 2px; } }

@media (max-width: 380px) {
  .city__link-title {
    font-size: 12px;
    margin: 0; }
  .city__link-card {
    margin: 0;
    margin-bottom: 5px; }
  .city__home-cardtitle {
    font-size: 12px; }
  .offer__travel__title1 {
    font-size: 12px; }
  .offer__travel__card-title {
    font-size: 12px;
    margin: 0;
    margin-top: 20px; }
    .offer__travel__card-title strong {
      font-size: 14px; } }

@media (max-width: 949px) {
  .offers-title {
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
    padding-bottom: 28px; }
  .offers-content-box {
    flex: 0 0 50%;
    padding: 5px 5px 5px 0; } }

@media (max-width: 743px) {
  .offers-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    padding-bottom: 19px; }
  .offers-section {
    padding-top: 20px;
    padding-bottom: 25px; }
  .offers-img-description {
    font-size: 15px;
    margin-top: 5px; } }

@media (max-width: 1127px) {
  .top-footer-container {
    display: flex;
    flex-direction: column;
    border-bottom: none;
    padding-bottom: 20px; }
  .footer-link {
    display: flex;
    flex-basis: 33.333%; }
  .footer-links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-height: 100px;
    border-bottom: 1px solid rgba(192, 192, 192, 0.705);
    padding-bottom: 25px; }
  .footer-links-title {
    padding-top: 20px; }
  .large-box {
    max-height: 120px; }
  .footer {
    padding-top: 40px; }
  .bottom-footer-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding-top: 0; }
  .descrip-rights-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px; }
  .point {
    position: relative; }
    .point::after {
      content: none;
      top: 0;
      left: 0;
      display: block;
      position: absolute; }
  .point-sec {
    position: relative; }
    .point-sec::after {
      content: "·";
      top: 11px;
      left: 1px;
      display: block;
      position: absolute; } }

@media (max-width: 743px) {
  .footer-links {
    display: flex;
    flex-wrap: nowrap;
    max-height: 300px;
    width: auto;
    border-bottom: 1px solid rgba(192, 192, 192, 0.705);
    padding-bottom: 25px;
    flex-direction: column;
    flex-basis: 0; }
  .sites-logos {
    display: none; }
  .bottom-footer-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
    padding-top: 0; }
  .descrip-rights-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 15px;
    font-size: 12px; }
  .lang-valute-link {
    padding-left: 0; }
  .ruble-logo {
    padding-left: 20px; }
  .point {
    padding: 0; }
    .point::after {
      content: none; }
  .point-sec {
    padding-left: 8px;
    position: relative; }
    .point-sec::after {
      content: "·";
      top: 0;
      left: 0;
      right: 10px;
      display: block;
      position: absolute; } }
