@import "../abstracts/variables";

.header {
  min-height: 90vh;
  padding: 20px 0;
  background-image: url("/img/header/header-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header__about {
  color: $HEADER_LINKS_COLOR;
  &-link {
    padding: 0 12px;
    position: relative;
    &:hover {
      opacity: 0.6;
    }
    &:before {
      content: "";
      position: absolute;
      width: 18px;
      height: 2px;
      background-color: #fff;
      border-radius: 1px;
      bottom: -9px;
      left: 50%;
      margin-left: -9px;
    }
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-text {
      font-size: 16px;
      color: $HEADER_LINKS_COLOR;
      font-weight: 600;
      padding-right: 25px;
      cursor: pointer;
    }
  }
}

.menu__links-btn {
  color: #fff;
  background: inherit;
  border: none;
  padding-top: 8px;
  cursor: pointer;
}

.menu__burger {
  display: flex;
  align-items: center;
  padding: 5px 5px 5px 12px;
  background-color: #fff;
  border: 1px solid #dddddd;
  border-radius: 21px;
  margin-left: 25px;
  color: $FORM_BOTTOM_LINKS_COLOR;
  cursor: pointer;
  &-btn {
    margin-right: 10px;
  }
}

.header__title {
  max-width: 250px;
  padding-top: 146px;
  color: $HEADER_LINKS_COLOR;
  .title {
    font-size: 55px;
  }
}
