
.offers-section{
    background-color: #fff;
    padding-top: 55px;
    padding-bottom: 65px;
    overflow: hidden;
}
.offers-main-box{
    display: flex;
    justify-content: space-between;
}
.offers-img{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
}
.offers-title{
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    padding-bottom: 28px;
}
.center{
    padding: 0 10px;
}
.offers-img-description{
    font-size: 17px;
    line-height: 22px;
    font-weight: 550;
}
