@media(max-width:949px){
    .offers-title{
        font-size: 26px;
        font-weight: 700;
        line-height: 36px;
        padding-bottom: 28px;
    }
    .offers-content-box{
        flex: 0 0 50%;
        padding: 5px 5px 5px 0;
        
    }
    
    .offers-main-box {
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    
}
@media(max-width:743px){
    .offers-title{
        font-size: 20px;
        font-weight: 700;
        line-height: 36px;
        padding-bottom: 19px;
    }
    .offers-section{
        padding-top: 20px;
        padding-bottom: 25px;
    }
    .offers-img-description {
        font-size: 15px;
        margin-top: 5px;
    }
}

