// BODY c
$BACKGROUND_COLOR: #fff;
$FONT_FAMILY: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$FONT_SIZE: 14px;

//HEADER COLORS
$HEADER_LINKS_COLOR: #ffffff;
$FORM_BACKGROUND_COLOR: #ffffff;
$FORM_TOP_LINKS_COLOR: #222222;
$FORM_BOTTOM_LINKS_COLOR: #717171;
$BTN_TITLE_COLOR: #222222;
$BTN_BACKGROUND_COLOR: #ffffff;
$BTN_SEARCH_BG_COLOR: #ff385c;

// SECTION CITY__LINKS

$CITY_LINKS_COLOR: #222222;
$CITY_TITLE_COLOR: #222222;

// SECTION OFFERS_TRAVEL

$OFFERS_TRAVEL_LINKS_COLOR: #ffffff;
$OFFERS_BACKGROUND_COLOR: #000000;

// OFFERS_HOST

$OFFERS_HOST_LINK_COLOR: #222222;

// FOOTER

$FOOTER_LINKS_COLOR: #222222;
$FOOTER_BACKGROUND_COLOR: #f7f7f7;


